<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <img src="/1988/img/1988-logo.png" alt="Logo" class="brand-logo">
                    <p>{{ site.description }}<br>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
